#square {
    color: purple;

    height: 100px;
    width: 100px;
}

.purpleBorder {
    border: 1px solid grey;
    background-color: black;
}

.blueBorder {
    border: 1px solid gray;
    background-color: white;
}

.blackBorder {
    border: 1px solid black;
}